{% extends 'block.html' %} {% block style %}
<style type="text/css">
    .login-img {
        background: url('https://kit8.net/images/thumbnails/580/386/detailed/4/Girl_and_computer@2x.png');
        background-position: center;
        min-height: 90vh;
    }
    
    .login-card {
        margin-top: 30px;
        background-color: #75aaff;
        box-shadow: 0 15px 50px #6ba4ff;
        border-radius: 25px;
    }
    
    .header h3 {
        margin-top: 30px;
        text-align: center;
        font-size: 60px;
        color: #1c1c11;
        /*text-shadow: 0 8px 14px black;*/
    }
    
    label {
        font-size: 15px;
    }
</style>
{% endblock %} {% block subcontent %}
<div class="row">
    <div class="login-img col-7"></div>
    <div class="login-card card col-4">
        <div class="header">
            <h3>REGISTER</h3>
        </div>
        <div class="card-body">
            <form action="/register/" method="POST">
                <div class="row">
                    <div class="col-6 mt-4 ">
                        <label for="full_name">Enter Full Name</label>
                        <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Full Name" required>
                    </div>

                    <div class="col-6 mt-4 ">
                        <label for="email">Enter Poornima Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                    </div>

                    <div class="col-6 mt-4">
                        <label for="batch">Select Batch</label>
                        <select class="form-control" name="batch" id="batch" required>
          <option value="2024">2024</option>
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
        </select>
                    </div>

                    <div class="col-6 mt-4 ">
                        <label for="registration_number">Enter Registration Number</label>
                        <input type="text" class="form-control" name="registration_number" id="registration_number" placeholder="Registration Number" required>
                    </div>

                    <div class="col-12 mt-4 ">
                        <label for="skills">Enter Skills</label>
                        <textarea class="form-control" name="skills" id="skills" placeholder="Separate with Comma (,)" required></textarea>
                    </div>

                    <div class="col-6 mt-4 ">
                        <label for="linkedin">Enter Linkedin URL</label>
                        <input type="text" class="form-control" name="linkedin" id="linkedin" placeholder="LinkedIn URL" required>
                    </div>

                    <div class="col-6 mt-4 ">
                        <label for="github">Enter Github URL</label>
                        <input type="text" class="form-control" name="github" id="github" placeholder="Github URL" required>
                    </div>

                    <div class="col-6 mt-4">
                        <label for="password">Set Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" required>
                    </div>

                    <div class="col-6 mt-4">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Enter Password" required>
                    </div>
                </div>

                <input type="submit" class="btn btn-primary mt-3 w-100" value="Register">
                <div class="row mt-4">
                    <a href="#" class="btn btn-danger col-5 m-auto">Forgot Password?</a>
                    <a href="/login" class="btn btn-dark col-5 m-auto">Account Exists? Login</a>
                </div>
            </form>
        </div>
        {% endblock %}